/*CARDS*/

.card{
    width: 100%;
    padding: 1em;
    background-color: $color-fond-dark;
    border:none;
    margin-bottom: 3rem;
}

.card__tittle{
    margin-left: 1rem;
    margin-top: 1.8rem;
    font-size: 2.3rem;
    color: $color-secondary;
    text-shadow: 0px 2px 0px $color-fond;
    font-family: $fuenteTexto;
}


.card__box{
    background-color: $color-fond;
    border-radius: 3rem;
}

.card__texto{
    border-radius: 2rem;
    font-size: 1.8rem;
    color: $color-letter;
    font-weight: 800;
    text-align: justify;
    font-family: $fuenteTexto;
    padding: 1rem;
    padding-top: 2rem;
}

.card__texto--proyecto{
    width: 90%;
    margin: 0px auto;
}

.card__img{
    float: left;
    width: auto;
    height: 35rem;
    margin: 1rem;
    border-radius: 3rem;
}

.card__carousel{
    width: 90%;
    height: auto;
    margin: 0px auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.card__carousel__img{
    border-radius: 3rem;
}

.card__carousel__bottom{
    width: 5rem;
    height: 5rem;
}

.carousel-control-prev-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='lightcoral' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
} 
    
.carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='lightcoral' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
} 

.card__carousel__indicador{
    color: darksalmon;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
}