/*CARDS*/

.card{
    margin: 2rem 0;
    padding: 1em;
    background-color: $color-fond-dark;
    border:none;
}

.card__tittle{
    margin-top: 2rem;
    font-size: 2.5rem;
    color: $color-secondary;
    text-shadow: 0px 2px 0px $color-fond;
    font-family: $fuenteTexto;
}

.card__box{
    background-color: $color-fond;
    border-radius: 3rem;
}

.card__texto{
    border-radius: 2rem;
    font-size: 1.6rem;
    color: $color-letter;
    padding: 1em;
    font-weight: 800;
    text-align: justify;
    font-family: $fuenteTexto;
}

.card__img{
    float: left;
    width: auto;
    height: 25rem;
    margin: 1rem;
    border-radius: 3rem;
}

.card__carousel{
    width: 80%;
    height: auto;
    margin: 0px auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card__carousel__img{
    border-radius: 3rem;
}