/*FOOTER*/

.footer{
    display: flex;
    background-color: $color-primary;
    width: 100%;
    height: 6rem;
    justify-content: center;
    align-items: center;
}

.footer__texto{
    padding-top: 1rem;
    color: $color-fond;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    padding-top: 2rem;
}
