/*MEDIA QUERY*/

@media (max-width:1231px){
    .nav__enlace{
        font-size: 1.8rem;
    }
}

@media (max-width:1199px){
    .principal__columna{
        
        img{
            object-position: -435px 0px;
            height: 100%;
        }
    }
    
}


@media (max-width:1130px){
    .nav__enlace{
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {

    .header__texto{
        padding: 0px;
        text-align: left;
        margin: 0px;
        animation: none;
        font-size: 3rem;
        margin-left: 3rem;
    }

    .nav__lista{
        background-color: $color-secondary;
    }

    .nav__item{
        width: 100%;
    }

    .nav__button{
        position: absolute;
        right: 30px;
        top: -70px;
    }

    .nav__enlace{
        font-size: 1.8rem;
    }
    
    .principal__texto--home{
        font-size: 3rem;
        line-height:6rem;
    }
    
    .principal--home{
        min-height: 150em;
        z-index: 1;
        height: 30rem;
    }

    .card{
        width: 100%;
    }

    .card__img{
        width: 97%;
        height: auto;
    }

    .principal__columna{
        width: 90%;
        img{
            object-position: -362px 0px;
            height: 100%;
        }
    }
    
}

@media (max-width: 768px){
    .card__img{
        width: 96%;
    }
    
    .formulario__submit{
        margin-left: 0rem;
        align-self: center;
    }

    .formulario__caja{
        width: 100%;
    }
}


@media (max-width: 767px) {

    .footer__texto{
        font-size: 1.3rem;
    }
}

@media (max-width: 576px){
    .card__img{
        width: 96%;
    }
    .formulario__submit{
        margin-left: 0rem;
        align-self: center;
    }

    .principal__columna{
        img{
            object-position: -420px 0px;
        }
    }
}

@media (max-width: 461px){
    .footer__texto{
        width: 80%;
        text-align: center;
    }
    .redes__enlace{
        font-size: 10rem;
    }
}

@media (max-width: 414px){
    .principal__columna{
        img{
            object-position: -480px 0px;
        }
    }
}

