
/*VARIABLES*/

$fuenteRedes: "social media";
$fuenteLogo: 'Heebo', sans-serif;
$fuenteTexto: 'Cardo', serif;

$color-primary: #a35d6a;
$color-secondary: #c26565;
$color-letter:#333;
$color-fond: #f7e7bd;
$color-fond-dark: #d9c6a5;